@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

/* abbreviation semantics */
abbr.era{
	font-variant: all-small-caps;
}

/* song & poem semantics */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] + p,
[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

/* letter semantics */
footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

